#!/bin/sh

#exec 2>&1 > /tmp/xprofile
#set -x

# Some Xorg init systems don't get the hostname variable set righ in their own
# and fixing it varies from system to system.
test -n "$HOSTNAME" || HOSTNAME=$(uname -n)
test -n "$HOSTNAME" || HOSTNAME=$(hostname)
HOSTNAME=${HOSTNAME/%.*/}

export GTK_IM_MODULE=uim
export QT_IM_MODULE=uim
export XMODIFIERS='@im=uim'
export LIBUIM_ENABLE_EMERGENCY_KEY=1
uim-xim &
uim-toolbar-gtk3-systray &

# Setup HiDPI support
export DPI=$(xdpyinfo | grep resolution | awk -F'[x ]*' '{print $3}')
if [[ $DPI -ge 156 ]]; then
    export GDK_SCALE=2
    export GDK_DPI_SCALE=0.8
fi

# Convenience functions
hostis() {
	test "$HOSTNAME" = "$1"
	return $?
}

runifhas() {
    hash $1 && $@ &
}

myxsets() {
	xhost +
	xset +dpms
	xset dpms $((10*60)) 0 $((10*60))
	xset s off
	xset s noblank
	xset s $((3*60)) $((2*60))
	xset b off
	xset r rate 250 50
	xsetroot -solid black
	xsetroot -cursor_name arrow
}

setkbd() {
	setxkbmap $1
	setxkbmap -option
	setxkbmap -option nbsp:zwnj2nb3nnb4
	setxkbmap -option compose:menu
	setxkbmap -option lv3:caps_switch
}

case $HOSTNAME in
	lemur)
        #xrandr --output DVI-I-1 --mode 1920x1080 --pos 0x400 --output DVI-I-2 --mode 1680x1050 --pos 1920x0 --rotate right
        xrandr --output DVI-I-1 --auto --output DVI-I-2 --auto --right-of DVI-I-1
        killall evrouter
        hash evrouter && find /dev/input/by-id -name '*Griffin*' -exec evrouter {} \;

        # Map pen to just one monitor
        xsetwacom --set "Wacom Intuos PT S Pen stylus" MapToOutput DVI-I-2
        xsetwacom --set "Wacom Intuos PT S Pen eraser" MapToOutput DVI-I-2

        # Increase touch gesture scroll sensitivity
        xsetwacom --set "Wacom Intuos PT S Finger touch" ScrollDistance 20
		;;
    jaguar)
        xrandr --output HDMI-1 --auto --output HDMI-2 --auto --right-of HDMI-1
        evrouter -q
        hash evrouter && evrouter /dev/input/event*

        # Map pen to just one monitor
        xsetwacom --set "Wacom Intuos PT S Pen stylus" MapToOutput HEAD-1
        xsetwacom --set "Wacom Intuos PT S Pen eraser" MapToOutput HEAD-1

        # Increase touch gesture scroll sensitivity
        xsetwacom --set "Wacom Intuos PT S Finger touch" ScrollDistance 20

        # Setup touch mode to absolute and map to screen area
        xsetwacom --set "Wacom Intuos PT S Finger touch" Mode absolute
        xsetwacom --set "Wacom Intuos PT S Finger touch" Area 0 2048 4096 4096
        ;;
    emircik)
        tpid=$(xinput list --id-only 'DLL0704:01 06CB:76AE Touchpad')
        getprop() {
            xinput list-props $tpid | sed -ne "/libinput $@ Enabled (/{s/^.*(//;s/).*\$//;p}"
        }
        xinput set-prop $tpid $(getprop "Tapping") 1
        xinput set-prop $tpid $(getprop "Natural Scrolling") 1
        ;;
esac

case $DESKTOP_SESSION in
    awesome)
        myxsets
        setkbd dvp
        eval $(keychain --agents ssh,gpg --eval -Q --quiet id_rsa github aur gitlab 75267693 B89B1E86)
        runifhas pulseaudio -D
        runifhas nm-applet --sm-disable
        runifhas blueman-applet || runifhas bluetooth-applet
        runifhas pa-applet || runifhas pasystray
        runifhas gpaste-client applet || runifhas parcellite
        runifhas nextcloud || runifhas owncloud
        runifhas cbatticon
        runifhas synergy
        runifhas flameshot || runifhas shutter --min_at_startup
        runifhas compton --config ~/.config/compton.conf
        runifhas xss-lock -n ~/bin/pre_lock.zsh -- slock &
    ;;
esac
