#!/bin/sh

#exec 2>&1 > /tmp/xprofile
#set -x

# Some Xorg init systems don't get this set right, and it's succesfully set differnet ways on different systems
test -n "$HOSTNAME" || HOSTNAME=$(uname -n)
test -n "$HOSTNAME" || HOSTNAME=$(hostname)
HOSTNAME=${HOSTNAME/%.*/}
export GTK_IM_MODULE="uim"

# Convenience functions
hostis() {
	test "$HOSTNAME" = "$1"
	return $?
}

runifhas() {
    hash $1 && $@ &
}

myxsets() {
	xhost +
	xset +dpms
	xset dpms $((5*60+45)) 0 $((10*60))
	xset s off
	xset s noblank
	xset s 0
	xset b off
	xset r rate 250 50
	xsetroot -solid black
	xsetroot -cursor_name arrow
}

setkbd() {
	setxkbmap $1
	setxkbmap -option
	setxkbmap -option nbsp:zwnj2nb3nnb4
	setxkbmap -option compose:menu
	setxkbmap -option lv3:caps_switch
}

case $HOSTNAME in
	lemur)
        #xrandr --output DVI-I-1 --mode 1920x1080 --pos 0x400 --output DVI-I-2 --mode 1680x1050 --pos 1920x0 --rotate right
        xrandr --output DVI-I-1 --auto --output DVI-I-2 --auto --right-of DVI-I-1
        killall evrouter
        hash evrouter && find /dev/input/by-id -name '*Griffin*' -exec evrouter {} \;

        # Map pen to just one monitor
        xsetwacom --set "Wacom Intuos PT S Pen stylus" MapToOutput DVI-I-2
        xsetwacom --set "Wacom Intuos PT S Pen eraser" MapToOutput DVI-I-2

        # Increase touch gesture scroll sensitivity
        xsetwacom --set "Wacom Intuos PT S Finger touch" ScrollDistance 20
		;;
    jaguar)
        xrandr --output HDMI-1 --auto --output HDMI-2 --auto --right-of HDMI-1
        killall evrouter
        hash evrouter && find /dev/input/by-id -name '*Griffin*' -exec evrouter {} \;

        # Map pen to just one monitor
        xsetwacom --set "Wacom Intuos PT S Pen stylus" MapToOutput HDMI-2
        xsetwacom --set "Wacom Intuos PT S Pen eraser" MapToOutput HDMI-2

        # Increase touch gesture scroll sensitivity
        xsetwacom --set "Wacom Intuos PT S Finger touch" ScrollDistance 20

        # Setup absolute mode and screen area
        xsetwacom --set "Wacom Intuos PT S Finger touch" Mode absolute
        xsetwacom --set "Wacom Intuos PT S Finger touch" Area 0 2048 4096 4096
        ;;
esac

case $DESKTOP_SESSION in
    awesome)
        myxsets
        setkbd dvp
        eval $(keychain --agents ssh,gpg --eval -Q --quiet ~/.ssh/id_rsa ~/.ssh/github ~/.ssh/aur 75267693 B89B1E86)
        runifhas pulseaudio -D
        runifhas nm-applet --sm-disable
        runifhas bluetooth-applet
        runifhas blueman-applet
        runifhas pa-applet
        runifhas pasystray
        runifhas parcellite
        runifhas owncloud
        runifhas cbatticon
        runifhas compton --config ~/.config/compton.conf
        runifhas xautolock -time 6 -locker "echo 'mykbdcfg.switch_dvp()' | awesome-client; slock" -notify 30
        ~/bin/set_background_worldlight.zsh &
    ;;
esac
