# Use xrdb -merge <file> to make this machine specific?
Xft.dpi:  288

*ScrollbarPlacement: left
Xft.antialias:  true
Xft.rgba:       rgb
Xft.lcdfilter:  lcddefault
Xft.hinting:    true
Xft.hintstyle:  hintfull

*background: #000000
*foreground: #FFFFFF
